<!DOCTYPE HTML>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-E00L9PT3V9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-E00L9PT3V9');
  </script>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oxygen:wght@300;400;700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oxygen:wght@300;400;700&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oxygen:wght@300;400;700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>

<body style="background-color:#dee0e1">
<body>
  <!-- <video autoplay preload="auto" muted loop class="back-video">
    <source src="/tn/videos/sza.mp4" type="video/mp4">
  </video> -->
  
  <table style="width:100%;max-width:650px;min-width:35%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;background-color:white;border-radius:25px;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Tan-Dzung <br>(Chris) Do
              </h1>
              <p>I am a M.Sc. student at <a href="https://cs.pku.edu.cn/English/Home.htm">the School of Computer Science</a>, <a href="https://www.pku.edu.cn/">Peking University</a>, where I work on Embodied AI 🦾. I'm fortunate to work with <a href="https://hughw19.github.io">Prof. He Wang</a>. I'm also a member of a joint humanoid research lab co-led by <a href="https://ericyi.github.io/">Prof. Li Yi</a>.
              </p>
              <p>I am from Vietnam 🇻🇳
              </p>
              <!-- <p>Prior to this, I got my BEng in Computer Engineering from <a href="https://bmstu.ru/">Bauman Moscow State Technical University</a></b>, Russia 🇷🇺. Then I interned at a Quant firm for a while before moving to Beijing 🇨🇳 for my Master's study.
              </p> -->
              <!-- <p>
                From 2011 to 2017, I worked at <a href="https://www.intel.com">Intel</a>, as part of <a href="https://www.intelrealsense.com/">Intel RealSense</a>. I primarily designed computer vision algorithms for efficient hardware ASICs, including the Intel RealSense <a href="https://software.intel.com/en-us/articles/realsense-r200-camera">R200</a> and <a href="https://software.intel.com/en-us/realsense/d400">D400</a> RGB-D sensors. Additionally, I worked on <a href="https://github.com/IntelRealSense/librealsense">software APIs</a>, <a href="https://patents.google.com/patent/US9992474B2">active illumination systems</a>, <a href="https://patents.google.com/patent/US9304597">human-computer interaction devices</a>, and helped develop demos for trade shows, including CES 2012-2016.
              </p>
              <p>
                I have an MS in Computer Science (AI focus) from <a href="http://cs.stanford.edu">Stanford University</a>, where I was a research assistant for <a href="http://svl.stanford.edu/">Silvio Savarese</a> and a teaching assistant for <a href="http://svl.stanford.edu/">Fei-Fei Li</a> (<a href="http://vision.stanford.edu/teaching/cs131_fall1617/">CS131</a> & <a href="http://cs231n.stanford.edu/2017/">CS231N</a>). I have a BS in EECS from <a href="http://www.eecs.berkeley.edu/">UC Berkeley</a>, where I worked in <a href="https://people.eecs.berkeley.edu/~pister/">Kris Pister's</a> lab.
              </p> -->
              <p style="text-align:center">
                <a target="_blank" href="mailto:dotandung@stu.pku.edu.cn"> Email</a> &nbsp;/&nbsp;
                <a href="https://github.com/dotandung">GitHub</a> &nbsp;
                <!-- <a href="https://github.com/dotandung">GitHub</a> &nbsp;/&nbsp; -->
                <!-- <a href="https://scholar.google.com/">Google Scholar</a> &nbsp;/&nbsp;
                <a href="https://www.linkedin.com"> LinkedIn </a> -->
              </p>
            </td>
            <td style="padding:2.5%;width:35%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/xunyong_profile_4.jpg">
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research</h2>
              <p>Currently I'm interested in Fine/Dexterous Manipulation and Mobile Manipulation, and which approach, sim2real or demonstrations would be the ultimate solution for Generalist Robots 🤖. Towards this goal, I think it's crucial that we learn how to better leverage familiar modalities like vision 👀 or language 💬, while touching other important yet underexplored modalities like tactile 👉🏻👈🏻 or sound 👂🏻.</p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          <!-- {% if cat == 'research' %} -->
          <tr>
            <td style="padding:2.5%;width:35%;vertical-align:middle;min-width:120px">
              {% if post.vid %}
              <a href={{post.website}}>
                <video style="width:auto; height:auto; max-width:100%;" muted autoplay loop preload="auto">
                  <source src="/tn{{post.vid}}" type="video/mp4">
                </video>
              </a>
              {% endif %}
              {% if post.image %}
              <a href={{post.website}}>
              <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" /></a>
              {% endif %}
            </td>
            
            <td style="padding:2.5%;width:65%;vertical-align:middle">
              <strong>{{post.title}}</strong>
              <br>
              <p style="margin:5px;"></p>
              {{post.authors}}
              <br>
              <i>{{post.venue}}</i>
              <br>
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">arxiv</a> /
              {% endif %}
              {% if post.pdf %}
              <a href="{{post.pdf}}">arxiv</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.youtube %}
              <a href="{{post.youtube}}">youtube</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          <!-- {% endif %} -->
          {% endfor %}
          {% endfor %}
        </table>
        <br>

        <!-- <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Projects</h2>
              <p>Hello World
              </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"> -->

          <!-- {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'Intel' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              <em>{{post.categories}} {{post.course}}</em>
              <br>
              {{ post.date | date: "%Y-%m-%d" }}

              <br>
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.paper %}
              <a href="{{post.paper}}">paper</a> /
              {% endif %}
              {% if post.patent %}
              <a href="{{post.patent}}">patent</a> /
              {% endif %}
              {% if post.patent2 %}
              <a href="{{post.patent2}}">patent #2</a> /
              {% endif %}
              {% if post.patent3 %}
              <a href="{{post.patent3}}">patent #3</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.video2 %}
              <a href="{{post.video2}}">video #2</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %} -->
        <!-- </table> -->
        <!-- <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Other Projects</h2>
              <p> Hello World
              </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"> -->

          <!-- {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat != 'research' and cat != 'Intel' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              <em>{{post.categories}} {{post.course}}</em>
              <br>
              {{ post.date | date: "%Y-%m-%d" }}

              <br>
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.paper %}
              <a href="{{post.paper}}">paper</a> /
              {% endif %}
              {% if post.patent %}
              <a href="{{post.patent}}">patent</a> /
              {% endif %}
              {% if post.patent2 %}
              <a href="{{post.patent2}}">patent #2</a> /
              {% endif %}
              {% if post.patent3 %}
              <a href="{{post.patent3}}">patent #3</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.video2 %}
              <a href="{{post.video2}}">video #2</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %} -->
        <!-- </table> -->

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Education</h2>
              <p>
              </p>
            </td>
          </tr>
        </table>
        <table width="100%" align="center" border="0" cellpadding="10"><tbody>
          <tr>
            <td style="padding-left:4%;padding-right:5px;width:20%;vertical-align:middle"><img src="images/peking_university.png", style="width:90%;max-width:100px"></td>
            <td width="80%" valign="center">
              <a href="https://pku.edu.cn/" style="font-size: 18px; font-weight: 700;">Peking University</a> 🇨🇳
              <br> 2022.09 - Present 
              <br><strong>M.Sc. in Computer Science</strong>
              <br> Advisor: Prof. <a href="https://hughw19.github.io/">He Wang</a>
            </td>
          </tr>
          <tr>
            <td style="padding-left:4%;padding-right:5px;width:20%;vertical-align:middle;margin-left:auto;margin-right:auto;"><img src="images/bmstu.png", style="width:90%;max-width:100px;"></td>
            <td width="80%" valign="center">
              <a href="https://bmstu.ru/" style="font-size: 18px; font-weight: 700;">Bauman Moscow State Technical University</a> 🇷🇺
              <br> 2018.09 - 2022.07 
              <br><strong>B.Sc. in Computer Engineering</strong>
              <br> Graduation with Honours (красный диплом) 
            </td>
          </tr>

        </tbody></table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Experience</h2>
              <p>
              </p>
            </td>
          </tr>
        </table>
        <table width="100%" align="center" border="0" cellpadding="10"><tbody>
          <tr>
            <td style="padding-left:4%;padding-right:5px;width:20%;vertical-align:middle"><img src="images/galbot.svg", style="width:90%;max-width:100px"></td>
            <td width="80%" valign="center">
              <a href="https://galbot.com/" style="font-size: 18px; font-weight: 700;">Galbot</a>
              <br> Beijing 🇨🇳
              <br> 2023.09 - Present
              <br><strong>Internship</strong>
              <br> Advisor: Prof. <a href="https://hughw19.github.io/">He Wang</a>
            </td>
          </tr>
          <tr>
            <td style="padding-left:4%;padding-right:5px;width:20%;vertical-align:middle"><img src="images/cfcs.jpeg", style="width:90%;max-width:100px"></td>
            <td width="80%" valign="center">
              <a href="https://cfcs.pku.edu.cn/english/" style="font-size: 18px; font-weight: 700;">Center on Frontiers of Computing Studies, Peking University</a>
              <br> Beijing 🇨🇳
              <br> 2023.02 - Present
              <br><strong>Internship</strong>
              <br> Advisor: Prof. <a href="https://hughw19.github.io/">He Wang</a>
            </td>
          </tr>
          <tr>
            <td style="padding-left:4%;padding-right:5px;width:20%;vertical-align:middle"><img src="images/wq.jpeg", style="width:90%;max-width:100px"></td>
            <td width="80%" valign="center">
              <a href="https://worldquant.com/" style="font-size: 18px; font-weight: 700;">WorldQuant</a>
              <br> Hanoi 🇻🇳
              <br> 2022.09 - 2023.02
              <br><strong>Internship</strong>
              <br> Advisor: Dr. <a href="https://scholar.google.com/citations?user=O0GvP1IAAAAJ&hl=en">Luan Tran</a>
            </td>
          </tr>

        </tbody></table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Awards and Honors</h2>
                <p><li>IEEE ICRA Travel Grant, 2025</li></p>
                <p><li>Peking University Excellent Academic Award, 2024</li></p>
                <p><li>Beijing Government Scholarship, 2024</li></p>
                <p><li>Beijing Government Scholarship, 2023</li></p>
                <p><li>Beijing Government Scholarship, 2022</li></p>
                <p><li>Vietnam-Russia Government Scholarship, 2018</li></p>
                <p><li>Vietnam Mathematical Olympiad, 3rd place, 2017</li></p>
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Service and Teaching</h2>
                <p>
                  <li>Teaching Assitant: <a href="https://hughw19.github.io/RVAL/schedule/">Robot Vision and Learning - From a Perspective of Embodied AI</a>, Fall 2024
                  </li>
                </p>
                <p>
                  <li>Reviewer: CoRL 2024</li>
                </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Miscellaneous</h2>
                <p>
                  I love taking photos 📷
                </p>
                <p>
                  I speak Vietnamese 🇻🇳, Mandarin Chinese 🇨🇳, English 🦅, and Russian 🇷🇺
                </p>
                <p>  
                  About my name: Moving from one country to another makes my name ending up having so many variations. My Vietnamese name is Đỗ Tấn Dũng, pronounced like Dzung as in my publishing name. Then Russian people would call me До or Зунг depending how well they know me. Then in China, I need to choose another Chinese name, 杜迅勇 (Du Xunyong). In case you're not sure how to pronounce my name, just call me Chris!
                  
                </p>
            </td>
          </tr>
        </table>
        

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small; color: lightgray;">
                Design and source code from <a style="font-size:small; color: lightgray;" href="https://jonbarron.info">Jon Barron's website</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>

